* { padding:0px; margin:0px;}

html,body { 
	font-family:Roboto, Arial, Helvetica, "sans-serif", "Comic Sans MS"; 
	text-align:center; 
	font-size:32pt;
	color:#222;
    height:100%;
    background-color: #fff;
}
a,a:visited,a:hover,a {
    color:dodgerblue;
}

.slide {
	display:none;
}

.container {               
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

code{
    color:navy;
    font-weight: bold;
}

.notes { 
	display:none;
}

blockquote {
    display: block;
    border-width: 2px 0;
    border-style: solid;
    border-color: #eee;
    padding: 1.5em 0 0.5em;
    margin: 1.5em 0 0 0 ;
    position: relative;
    width: 60%;
    margin-left: 15%;
    font-weight: bold;
  }
  blockquote:before {
    content: '\201C';
    position: absolute;
    top: 0em;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    width: 2rem;
    height: 1rem;
    font: 4em/1.08em 'PT Sans', sans-serif;
    color: #666;
    text-align: center;
  }
  blockquote:after {
    content: "\2013 \2003" attr(cite);
    display: block;
    text-align: right;
    font-size: 0.6em;
    color: #e74c3c;
}

.bord { 
    border: 1px solid #888; 
}
pre {
	text-align: left;
	font-size:24pt
}
p { 
	margin-top:0px;
}
#num a , #speaker{
	color:#BBB;
	float:left;
	padding-left:10px;
	text-decoration:none;
}	

#notes {
   float:right;
   color:#555;
   cursor:pointer;   
}

.kapow ,.lesson{ 
	background-color:#000; 
	color: #F00;
}

#noteDetail, #notes {
    display:none;
}

#noteDetail{
    font-size:small;
    background-color:#FFD;
    color:#333;
    border-bottom:1px solid #888;
    width:100%;
    text-align:left;
    padding:5px;
}

/* added for DDD talk */

img.cover {
 display: block;  
 width: 100vw;  
 object-fit: cover;
}

table.compare {
    font-size:22pt;
}
table.compare  td, table.compare  th{
 border:1px solid #CCC;
}

table.compare { margin-left:20px;border:1px solid #CCC;padding:5px;border-collapse:collapse; margin: 0px auto;}
table.compare th { text-align: center;padding:5px;background:rgba(0,0,0,0.5);}
table.compare td {padding:5px;}
table.compare tr:nth-child(odd) {

background:rgba(68,68,68,0.5);
}

.dark {
 background-color:#222;
}

h1 {
    font-family: 'Waiting for the Sunrise', cursive;
    font-size: 4em;
    font-weight: bolder;
}

h2 {
    color:navy;
    font-family: 'Roboto', sans-serif;
    font-weight:200;
    font-variant: small-caps;
    letter-spacing:0.2em;
    padding-top:10px;
}

ul {
    text-align: left;
    margin-left: 2em;
}